<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Listado de Dispositivos</mat-card-title>
        </mat-card-header>
        <mat-card-content>


            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>


            <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del Dispositivo </th>
                    <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                </ng-container>

                <ng-container matColumnDef="deviceType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Dispositivo </th>
                    <td mat-cell *matCellDef="let row">{{ row.deviceType }}</td>
                </ng-container>


                <ng-container matColumnDef="area">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Area Asignada </th>
                    <td mat-cell *matCellDef="let row">{{ row.area?.nameArea }}</td>
                </ng-container>

                <ng-container matColumnDef="idUser">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario responsable </th>
                    <td mat-cell *matCellDef="let row">{{ row.idUser }}</td>
                </ng-container>

                <ng-container matColumnDef="statusDevice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado del Dispositivo </th>
                    <td mat-cell *matCellDef="let row">{{ row.statusDevice?.description }}</td>
                </ng-container>

                <ng-container matColumnDef="brand">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
                    <td mat-cell *matCellDef="let row">{{ row.brand?.description }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-raised-button (click)="viewDetails(row)">
                            <span>Ver Detalles</span>
                            <mat-icon>list_alt</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" class="main-row"></tr>

            </table>

            <button mat-fab extended class="fab-button" (click)="openEditDialog()">
                <mat-icon>add</mat-icon>
                <span>Añadir</span>
            </button>

        </mat-card-content>
    </mat-card>
</div>

<ng-template #detailsDialog let-data>
    <div class="dialog-container">
        <h2 mat-dialog-title>Detalles del Dispositivo</h2>
        <mat-dialog-content>
            <p><strong>Almacenamiento:</strong> {{ data.storage }}</p>
            <p><strong>Tarjeta Grafica:</strong> {{ data.graphics_card }}</p>
            <p><strong>Ram:</strong> {{ data.ram }}</p>
            <p><strong>Procesador:</strong> {{ data.processor }}</p>
            <p><strong>Código del Producto:</strong> {{ data.product_code }}</p>
            <p><strong>Número de Serie:</strong> {{ data.serial_no }}</p>
            <p><strong>Edición de Windows:</strong> {{ data.windows_edition }}</p>
            <p><strong>Estado de la Garantía:</strong> {{ data.warranty.statusWarranty }}</p>
            <p><strong>Observación:</strong> {{ data.observation }}</p>
            <button mat-raised-button>
                <mat-icon>picture_as_pdf</mat-icon>
                <span>Descargar hoja de vida</span>
            </button>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-raised-button class="btn-save" (click)="openEditDialog(data)">Editar</button>
            <button mat-raised-button mat-dialog-close>Cerrar</button>
        </mat-dialog-actions>
    </div>
</ng-template>