.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 2rem;
  min-width: 350px;
  max-width: 500px;
  background-color: #fdfdfd;
}

.dialog-toolbar {
  border-radius: 8px;
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.full-width {
  width: 100%;
}

.mat-form-field {
  font-size: 1rem;
}

/* Botones */
.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

button[mat-raised-button] {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}


/* Cancelar */
.btn-cancel {
  background-color: #d32f2f;
  color: white;
}
.btn-cancel:hover {
  background-color: #b71c1c;
}
