.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Roboto', sans-serif;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-sidenav-container {
    flex: 1;
}

mat-sidenav-content {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

mat-sidenav-content::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/images.jpg');
  background-size: 100vw 100vh; /* 🔹 Se adapta al ancho y alto del viewport */
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px); /* 🔹 Controla la intensidad del desenfoque */
  transform: scale(1.1); /* evita bordes duros por el blur */
  z-index: -1; /* mantiene el fondo detrás del contenido */
}
