<mat-dialog-content class="dialog-container">

    <mat-toolbar class="dialog-toolbar">
        <span>{{ title }}</span>
    </mat-toolbar>

    <div class="dialog-scroll">
        <div class="form-content">

            <mat-form-field appearance="outline" class="full-width">
                <input matInput placeholder="Ingrese el nombre del Dispositivo" [(ngModel)]="device.name">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Seleccione el area correspondiente</mat-label>
                <mat-select [(ngModel)]="device.area">
                    @for (a of areas$ | async; track $index) {
                        <mat-option [value]="a">{{a.nameArea}}</mat-option>
                    }
                </mat-select> 
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Seleccione una Marca</mat-label>
                <mat-select [(ngModel)]="device.brand">
                    @for (b of brands$ | async; track $index) {
                        <mat-option [value]="b">{{b.description}}</mat-option>
                    }
                </mat-select> 
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <input matInput placeholder="Describa el tipo de Dispositivo" [(ngModel)]="device.deviceType">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <input matInput placeholder="Ingrese el almacenamiento del Dispositivo" [(ngModel)]="deviceDetails.storage">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <input matInput placeholder="Ingrese la memoria grafica del Dispositivo" [(ngModel)]="deviceDetails.graphics_card">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <input matInput placeholder="Ingrese la memoria ram del Dispositivo" [(ngModel)]="deviceDetails.ram">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <input matInput placeholder="Descripción del procesador del Dispositivo" [(ngModel)]="deviceDetails.processor">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <input matInput placeholder="Ingrese el codigo del Producto" [(ngModel)]="deviceDetails.product_code">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <input matInput placeholder="Ingrese el número de serie" [(ngModel)]="deviceDetails.serial_no">
            </mat-form-field>

            <!--Dejar los estados quemados en el ts
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Seleccione el estado del Dispositivo</mat-label>
                <mat-select [(ngModel)]="device.brand">
                    @for (b of brands$ | async; track $index) {
                        <mat-option [value]="b">{{b.description}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>-->

            <!--Dejar los estados de la garantia quemados en el ts
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Seleccione el estado del Dispositivo</mat-label>
                <mat-select [(ngModel)]="device.brand">
                    @for (b of brands$ | async; track $index) {
                        <mat-option [value]="b">{{b.description}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>-->

            <mat-form-field appearance="outline" class="full-width">
                <input matInput placeholder="Observaciones del Dispositivo" [(ngModel)]="deviceDetails.observation">
            </mat-form-field>
        </div>
    </div>

    <div class="button-group">
        <button mat-raised-button class="btn-save" type="submit" (click)="operate()">
            <mat-icon>done</mat-icon>
            <span>Guardar</span>
        </button>

        <button mat-raised-button class="btn-cancel" mat-dialog-close (click)="close()">
            <mat-icon>cancel</mat-icon>
            <span>Cancelar</span>
        </button>
    </div>


</mat-dialog-content>