<div >
    <div class="dashboard-container">

        <mat-card class="dashboard-card" routerLink="/pages/device">
            <img src="dispositivos.jpg" alt="Dispositivos">
            <div class="dashboard-card-title">DISPOSITIVOS</div>
        </mat-card>

        <mat-card class="dashboard-card" routerLink="/pages/user">
            <img src="usuarios.jpg" alt="Usuarios">
            <div class="dashboard-card-title">USUARIOS</div>
        </mat-card>

        <mat-card class="dashboard-card" routerLink="/pages/loans">
            <img src="prestamos.jpg" alt="Préstamos">
            <div class="dashboard-card-title">PRÉSTAMOS</div>
        </mat-card>

        <mat-card class="dashboard-card" routerLink="/pages/userDevice">
            <img src="dispositivos-usuario.jpg" alt="Dispositivos por usuario">
            <div class="dashboard-card-title">DISPOSITIVOS POR USUARIO</div>
        </mat-card>

    </div>
</div>