<mat-dialog-content class="dialog-container">

    <mat-toolbar class="dialog-toolbar">
        <span>{{ title }}</span>
    </mat-toolbar>

    <div class="form-content">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Ingrese el estado</mat-label>
            <input matInput placeholder="Ingrese el Estado" [(ngModel)]="statusdevice.nameStatus">
        </mat-form-field>

        <div class="button-group">
            <button mat-raised-button class="btn-save" type="submit" (click)="operate()">
                <mat-icon>done</mat-icon>
                <span>Guardar</span>
            </button>

            <button mat-raised-button class="btn-cancel" mat-dialog-close (click)="close()">
                <mat-icon>cancel</mat-icon>
                <span>Cancelar</span>
            </button>
        </div>
    </div>

</mat-dialog-content>